<!DOCTYPE HTML>
<html>
<head>
    <title>명지퀘스트 웹 서버</title>
    <meta http-equiv="Content-Type" content="text/html"; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">명지퀘스트 웹 서버</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">회원가입</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
    <div class="container">
        <form action="/users/create" method="post">
        <div class="form-group">
            <label for="userEmail">학교 이메일 주소</label>
            <input type="email" class="form-control" name="email" placeholder="@mju.ac.kr">
        </div>
        <div class="form-group">
            <label for="userPassword">비밀번호</label>
            <input type="password" class="form-control" name="pw" placeholder="Password">
        </div>
            <div class="form-group">
                <label for="userNickname">닉네임</label>
                <input type="text" class="form-control" name="nickname" placeholder="Nickname">
            </div>
        <button type="submit" class="btn btn-default">회원가입</button>
        </form>
    </div>

    <!--부트스트랩 js, jquery 추가-->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>

    <!--custom js 추가-->
    <script src="/js/app/main.js"></script>
</body>
</html>