<!DOCTYPE HTML>
<html>
<head>
    <title>명지퀘스트 웹 서버</title>
    <meta http-equiv="Content-Type" content="text/html"; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
</head>
<body>
<h1>공지사항 등록</h1>
    <div class="container">
        <form action="/notices/write" method="post">
        <div class="form-group">
            <label for="userEmail">제목</label>
            <input type="text" class="form-control" name="title" placeholder="제목">
        </div>
        <div class="form-group">
            <label for="userPassword">내용</label>
            <input type="text" class="form-control" name="content" placeholder="내용">
        </div>
        <button type="submit" class="btn btn-default">작성</button>
        </form>
    </div>

    <!--부트스트랩 js, jquery 추가-->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
</body>
</html>